@model AvatarPasswordReset.ViewModels.ResetPassword

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.blockUI.js"></script>
@*<script src="~/Scripts/jquery-ui-1.8.20.js"></script>*@
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Reset Avatar Password</legend>

        <div class="editor-field">
            @Html.HiddenFor(model => model.AvatarUserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AvatarUserDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AvatarUserDescription)
            @Html.ValidationMessageFor(model => model.AvatarUserDescription)
        </div>

        <div class="editor-label">
            @Html.HiddenFor(model => model.ADEmail)
        </div>

        <div id="reset">
            <div class="editor-label">
                @Html.LabelFor(model => model.ADUsername)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ADUsername)
                @Html.ValidationMessageFor(model => model.ADUsername)
            </div>

            <p>
                <input type="submit" value="Reset Password" />
            </p>
        </div>
        <div id="waiting" hidden>
            <img src="~/Content/Images/ajax-loader.gif" />
            Searching for e-mail, please wait...
        </div>
        <p class="result" hidden>E-mail not found, try again, if the problem persists contact the IT department.</p>
    </fieldset>
}

<div>
    @Html.ActionLink("Reset Form", "ResetPassword")
</div>

@if (ViewBag.Message != null)
{
    <p style="color: red;">@ViewBag.Message</p>
}

<script type="text/javascript">

    var url = '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "AvatarUserApi" })';
    var url2 = '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "ActiveDirectoryUserApi" })';
    $('#AvatarUserDescription').autocomplete({
        source: function (request, response) {
            $.ajax({
                global: false,
                url: url,
                data: { query: request.term },
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    response($.map(data, function (item) {
                        return {
                            label: item.Description,
                            value: item.Id
                        }
                    }));
                }
            })
        },
        select: function (event, ui) {
            $('#AvatarUserDescription').val(ui.item.label);
            $('#AvatarUserId').val(ui.item.value);
            newSuccessFunction(ui.item.value);
            return false;
        },
        minLength: 3
    });
    function newSuccessFunction(UserId) {
        $('#reset').hide();
        $('#waiting').show();
        $.ajax({
            global: false,
            url: url2,
            data: { Id: UserId },
            dataType: 'json',
            type: 'GET',
            success: function (data) {
                if (data != null) {
                    $('#ADEmail').val(data.Email);
                    $('#ADUsername').val(data.Id);
                }
                else {
                    $('#ADEmail').val('');
                    $('#ADUsername').val('');
                    $('#AvatarUserDescription').val('');
                    $('p.result').show();
                }
                $('#waiting').hide();
                $('#reset').show();
            }
        });
    }

    $('#ADUsername').focus(function () {
        $('p.result').hide();
    });
    $('#AvatarUserId').focus(function () {
        $('p.result').hide();
    });
</script>
